<div id="container">
    <!-- Mensaje Pegajoso -->

    <div class="ui info message">
        <i class="close icon"></i>
        <div class="header">
            Si haces algun cambio ¡No olvides de guardar!
        </div>
        Al final de la página encontrarás el botón de guardar
    </div>


    <!-- Apartado usuario -->
    <h2 class="ui header">
        <i class="teal user icon"></i>
        <div class="content">
            Usuario
        </div>
    </h2>
    <h3>Información y configuración básica sobre el usuario</h3>
    <div class="ui divider"></div>

    <div class="contenido">
        <!-- Logros -->
        <div class="ui centered stackable grid">
            <div class="fou wide column">
                <div class="ui statistic">
                    <div class="label">
                        Registrado el
                    </div>
                    <div class="text value" [innerHTML]="registerDate"></div>
                </div>
            </div>
        </div>

        <!-- Caja-->
        <div class="caja">
            <form class="ui form" #form="ngForm">
                <div class="field">
                    <label>Nombre</label>
                    <div class="ui action input">
                        <input type="text" readonly="" placeholder="Una pequeña descripción..." name="nombre"
                            [defaultValue]="usuario.nombre">
                        <button class="ui right labeled icon button" (click)="click($event)">
                            <i class="edit icon"></i>
                            Editar
                        </button>
                    </div>
                    <div class="ui two bottom attached buttons" style="display: none">
                        <div class="ui button" (click)="save($event)">Guardar</div>
                        <div class="ui button" (click)="cancel($event)">Cancelar</div>
                    </div>
                </div>
                <div class="field">
                    <label>Apellidos</label>
                    <div class="ui action input">
                        <input type="text" readonly="" placeholder="Una pequeña descripción..." name="apellidos"
                            [defaultValue]="usuario.apellidos">
                        <button class="ui right labeled icon button" (click)="click($event)">
                            <i class="edit icon"></i>
                            Editar
                        </button>
                    </div>
                    <div class="ui two bottom attached buttons" style="display: none">
                        <div class="ui button" (click)="save($event)">Guardar</div>
                        <div class="ui button" (click)="cancel($event)">Cancelar</div>
                    </div>
                </div>
                <div class="field">
                    <label>Email</label>
                    <div class="ui action input">
                        <input type="text" readonly="" placeholder="Una pequeña descripción..." name="email"
                            [defaultValue]="usuario.email">
                        <button class="ui right labeled icon button" (click)="click($event)">
                            <i class="edit icon"></i>
                            Editar
                        </button>
                    </div>
                    <div class="ui two bottom attached buttons" style="display: none">
                        <div class="ui button" (click)="save($event)">Guardar</div>
                        <div class="ui button" (click)="cancel($event)">Cancelar</div>
                    </div>
                </div>
                <div class="field">
                    <label>Contraseña</label>
                    <div class="ui action input">
                        <input type="text" readonly="" placeholder="escribe tu nueva contraseña..." name="password"
                            [defaultValue]="usuario.password">
                        <button class="ui right labeled icon button" (click)="click($event)">
                            <i class="edit icon"></i>
                            Editar
                        </button>
                    </div>
                    <div class="ui two bottom attached buttons" style="display: none">
                        <div class="ui button" (click)="save($event)">Guardar</div>
                        <div class="ui button" (click)="cancel($event)">Cancelar</div>
                    </div>
                </div>
                <div class="field">
                    <label>Teléfono</label>
                    <div class="ui action input">
                        <input type="text" readonly="" placeholder="Una pequeña descripción..." name="telefono"
                            [defaultValue]="usuario.telefono">
                        <button class="ui right labeled icon button" (click)="click($event)">
                            <i class="edit icon"></i>
                            Editar
                        </button>
                    </div>
                    <div class="ui two bottom attached buttons" style="display: none">
                        <div class="ui button" (click)="save($event)">Guardar</div>
                        <div class="ui button" (click)="cancel($event)">Cancelar</div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Apartado Enlaces -->
    <h2 class="ui header">
        <i class="teal linkify icon"></i>
        <div class="content">
            Enlaces
        </div>
    </h2>
    <h3>Información y configuración básica sobre tus enlaces</h3>
    <div class="ui divider"></div>

    <div class="contenido">
        <!-- Logros -->
        <div class="ui centered stackable grid">
            <div class="four wide column">
                <div class="ui statistic">
                    <div class="label">
                        Enlaces generados
                    </div>
                    <div class="value" [innerHTML]="linksGenerated"></div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui statistic">
                    <div class="label">
                        Total veces visitados
                    </div>
                    <div class="value" [innerHTML]="linksTotalVisited"></div>
                </div>
            </div>
        </div>

        <!-- Caja-->
        <div class="caja">
            <div class="dangerZone">
                <p>Eliminar Todos tus enlaces</p>
                <button class="negative ui button" (click)="deleteAllEnlaces()">¡Eliminar enlaces!</button>
            </div>
        </div>
    </div>

    <!-- Apartado Enlaces -->
    <h2 class="ui header">
        <i class="teal cog icon"></i>
        <div class="content">
            Cuenta
        </div>
    </h2>
    <h3>Información y configuración sobre tu cuenta</h3>
    <div class="ui divider"></div>

    <div class="contenido">
        <!-- Logros -->
        <div class="ui centered stackable grid"></div>
        <!-- Caja-->
        <div class="caja">

            <div class="premiumZone">
                <div *ngIf="usuario.tipoUsuario === 'freemium'">
                    <p>Convertirse en PREMIUM</p>
                    <div class="ui black animated fade button" tabindex="0" (click)="setPremium()">
                        <div class="visible content">¡Premium YA!</div>
                        <div class="hidden content">
                            <i class="smile outline icon"></i>
                        </div>
                    </div>
                </div>
                <div *ngIf="usuario.tipoUsuario === 'premium'">
                    <p>Pasarse a Fremium</p>
                    <div class="ui black animated fade button" tabindex="0" (click)="setFremium()">
                        <div class="visible content">Adios premium ...</div>
                        <div class="hidden content">
                            <i class="frown outline icon"></i>
                        </div>
                    </div>
                </div>
                <div *ngIf="usuario.tipoUsuario === 'admin'">
                    <p>Eres Admin, felicidades :)</p>
                    <div class="ui black animated fade button" tabindex="0">
                        <div class="visible content">Mira aquí</div>
                        <div class="hidden content">
                            🎉🎉🎉
                        </div>
                    </div>
                </div>
            </div>

            <div class="dangerZone">
                <p>Eliminar cuenta</p>
                <button class="negative ui button" (click)="deleteAccount()">¡Eliminar cuenta!</button>
            </div>

        </div>
    </div>
</div>