/* Móbiles */
@media only screen and (min-width: 768px) {
}

/*  Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #container {
    margin: 2% 6%;
  }

  .cuerpo {
    margin: 0% 5%;
  }
}

/* Ordenadores */
@media only screen and (min-width: 992px) {
  #container {
    margin: 2% 6%;
  }

  .cuerpo {
    margin: 0% 5%;
  }
}

/* Globales */
.dangerZone {
  margin: 2% 5%;
  padding: 2% 2%;
  border-radius: 2px;
  background: repeating-linear-gradient(
    45deg,
    #ffae42,
    #ffae42 10px,
    #000000 10px,
    #000000 20px
  );
}

.premiumZone {
  margin: 2% 5%;
  padding: 2% 2%;
  border-radius: 2px;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.dangerZone > p {
  display: block;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  font-size: xx-large;
  font-weight: bold;
  letter-spacing: 2px;
}

.premiumZone p {
  display: block;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  font-size: xx-large;
  font-weight: bold;
  letter-spacing: 2px;
}

.dangerZone > button {
  display: block;
  margin: 0 auto;
}

.premiumZone > div > div {
  display: table;
  margin: 0 auto;
}

.box {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px 0px;
}

.caja {
  /* background-color: yellow; */
  margin: 2% 5%;
}

.statistic {
  display: block;
}