<!-- Seleccion para borrar
<a *ngIf="isSelectedToDelete" class="ui red right corner label">
  <i class="icon">
      <div class="ui checkbox">
          <input type="checkbox">
          <label></label>
        </div>
  </i>
</a> -->
<!-- Tarjeta en si -->
<div class="content" [routerLink]="['/main/enlaces/info', id+1]">
  <div class="header">{{ card.title }}</div>
  <div class="meta"><a target="_blank" href="{{ card.link }}">{{ card.domain() }}</a></div>
  <div class="description">
    <div class="ui medium image">
      <canvas id="line{{id}}">{{ chartTime }}</canvas>
    </div>
  </div>
</div>
<div class="extra content">
  <span class="right floated">{{ card.creationDate | date: 'dd/MM/yyyy' }}</span>
  <span>Nº clicks: {{ card.clicks }}</span>
</div>