<div #grid class="ui column relaxed stackable mobile reversed grid">
    <div class="ten wide column">
        <article>
            <header>
              <h1 class="ui header">My Little URL</h1>
              <h2 class="ui header">Acorta y analiza tu URL</h2>
            </header>
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Proin purus justo, mattis nec velit nec, tincidunt auctor massa. 
              Pellentesque ut ligula ac dui semper pharetra. 
              Nulla facilisi. Etiam vel elementum quam. 
              Donec et scelerisque metus, id facilisis mi. 
              Orci varius natoque penatibus et magnis dis parturient montes, 
              nascetur ridiculus mus. Pellentesque non mi nec nunc aliquet sagittis. 
              Vestibulum sit amet quam id diam auctor posuere suscipit sed nunc. 
              Nullam dignissim nibh nec luctus ornare. 
              Nullam lobortis posuere magna quis rutrum. 
              Morbi quis ultrices tortor. 
              Duis cursus metus dui, sit amet sollicitudin quam blandit sed. 
              Nam varius vestibulum scelerisque. 
            </span>
            <footer>
              Siguenos en 
              <span>
                <button class="ui facebook button">
                <i class="facebook icon"></i>
                Facebook
              </button>
              <button class="ui instagram button">
                <i class="instagram icon"></i>
                Instagram
              </button>
              y en
              <button class="ui youtube button">
                <i class="youtube icon"></i>
                YouTube
              </button>
              </span>
            </footer>
          </article>
    </div>
    <div class="six wide column">
      <div class="row" style="margin: 10px 10%;">
          <div class="ui buttons">
              <button class="ui button" (click)="showLoginForm=true">Inicia sesión</button>
              <div class="or" data-text="O"></div>
              <button class="ui positive button" (click)="showLoginForm=false">registrate</button>
            </div>
      </div>
      <div class="row" *ngIf="showLoginForm" style="margin: 10px 10%;">
          <login-form></login-form>
      </div>
      <div class="row" *ngIf="!showLoginForm" style="margin: 10px 10%;">
          <signup-form></signup-form>
      </div>
  </div>