<div id="containerMenu">
    <div class="ui thin sidebar inverted vertical menu">
        <a class="item" (click)="sidebar(); ModalImagenAvatar()">
            <img class="ui medium circular avatar image" [src]="imagenAvatar">
            <h4 style="text-align: center; margin-top: 7%">{{usuario.nombre}}</h4>
        </a>
        <a class="item" [routerLink]="['./enlaces']" (click)="sidebar()">
            <i class="linkify icon"></i>
            Enlaces
        </a>
        <a class="item" [routerLink]="['./config']" (click)="sidebar()">
            <i class="sliders horizontal icon"></i>
            Configuración
        </a>
        <a class="item">
            <button class="ui inverted red basic button" style="width: 100%;" (click)="logout()" (click)="sidebar()">Log
                out</button>
        </a>
    </div>
    <div class="pusher">
        <div class="ui inverted borderless menu">
            <div class="item" (click)="sidebar()">
                <i class="bars icon"></i>
            </div>

            <div *ngIf="isDevice !== 'mobile'" class="item">
                <div class="ui icon buttons">
                    <button class="ui button" (click)="update()"><i class="sync icon"></i> Actualizar</button>
                    <button class="ui button" [routerLink]="['/main/enlaces/new']"><i class="pencil icon"></i>
                        Crear</button>
                    <!-- <button class="ui button"><i class="trash icon"></i>Eliminar</button> -->
                </div>
            </div>

            <div *ngIf="isDevice === 'mobile'" class="ui dropdown item">
                <div class="text">Opciones</div>
                <div class="menu">
                    <div id="buscador" class="ui fluid icon input">
                        <input type="text" placeholder="buscar..." (keyup)="filter()">
                        <i class="search link icon"></i>
                    </div>
                    <div class="divider"></div>
                    <div class="item" (click)="update()">
                        <i class="sync icon"></i>
                        Actualizar
                    </div>
                    <div class="item" [routerLink]="['/main/enlaces/new']">
                        <i class="pencil icon"></i>
                        Crear
                    </div>
                    <!-- <div class="item">
                        <i class="trash icon"></i>
                        Eliminar
                    </div> -->
                </div>
            </div>

            <!-- <div class="item">
                <div class="ui buttons">
                    <button class="ui red basic button">Delete</button>
                    <button class="ui positive button">Discard</button>
                </div>
            </div> -->

            <div class="right item">
                <div class="ui buttons">
                    <div class="ui grey icon button" (click)="toggleDirection()">
                        <i *ngIf="isDownSortedDirection" class="sort amount down icon"></i>
                        <i *ngIf="!isDownSortedDirection" class="sort amount up icon"></i>
                    </div>
                    <div class="ui dropdown button">
                        <span class="text">Título</span>
                        <div class="menu">
                            <div class="active item" data-text="Título" (click)="byTitle()">
                                <i class="sort alphabet down icon"></i>
                                Título
                            </div>
                            <div class="item" data-text="Cronológico" (click)="byTime()">
                                <i class="clock icon"></i>
                                Cronológico
                            </div>
                            <div class="item" data-text="Impacto" (click)="byImpact()">
                                <i class="fire icon"></i>
                                Impacto
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="isDevice !== 'mobile'" class="ui item">
                <div id="buscador" class="ui fluid icon input">
                    <input type="text" placeholder="buscar..." (keyup)="filter()">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
        <subir-imagen *ngIf="mostrarimagenAvatar" (cerrar)="ModalImagenAvatar()"></subir-imagen>
        <enlace-info *ngIf="mostrarInformacionEnlace" (evento)="ModalInfoacionEnlace()"></enlace-info>

        <router-outlet></router-outlet>
    </div>
</div>