<form class="ui form" #formulario="ngForm">
  <div class="field">
    <label>Correo electronico</label>
    <input type="email" placeholder="example@gmail.com" name="inputEmail" #inputEmail="ngModel" [(ngModel)]="email"
      (keyup)="errorEmail = false" required>
    <!-- Validaciones del correo -->
    <div *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)">
      <div *ngIf="inputEmail?.errors.required" class="ui pointing red basic label">
        Email requerido
      </div>
    </div>
    <div *ngIf="errorEmail" class="ui pointing red basic label">
      No hay cuenta para este email
    </div>
  </div>
  <div class="field">
    <label>Contraseña</label>
    <input type="password" placeholder="••••••" name="inputPass" #inputPass="ngModel" [(ngModel)]="pass"
      (keyup)="errorPass = false" required>
    <!-- Validaciones de la contraseña -->
    <div *ngIf="inputPass.invalid && (inputPass.dirty || inputPass.touched)">
      <div *ngIf="inputPass?.errors.required" class="ui pointing red basic label">
        Contraseña requerida
      </div>
    </div>
    <div *ngIf="errorPass" class="ui pointing red basic label">
      La contraseña es incorrecta
    </div>
  </div>
  <button class="ui button" [disabled]="formulario.invalid" [class.loading]="isloading" type="submit"
    (click)="login(); uncknowError = null">¡Vamos!</button>
  <div *ngIf="uncknowError" class="ui left pointing red basic label" [ngStyle]="{'position': 'absolute'}">
    {{uncknowError}}
  </div>
</form>