<div id="ContainerModal1">
  <!-- First Modale -->
  <div class="ui coupled first modal">
    <div class="header">
      Nuevo Enlace
      <i class="yellow certificate icon"></i>
    </div>
    <div class="content">
      <div class="description">

        <form class="ui form" name="ngForm" #formNewLink1="ngForm">
          <div class="field">
            <label>Título</label>
            <input type="text" name="inputTitle" #inputTitle="ngModel" [(ngModel)]="titulo"
              placeholder="Una pequeña descripción..." required>
            <div *ngIf="inputTitle.invalid && (inputTitle.dirty || inputTitle.touched)">
              <div *ngIf="inputTitle?.errors.required" class="ui pointing red basic label">
                Título requerido
              </div>
            </div>
          </div>

          <div class="field">
            <label>Enlace</label>
            <div class="ui action labeled input">
              <div class="ui dropdown label">
                <div id="inputUrlProtocol" type="text" class="text">https://</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item">https://</div>
                  <div class="item">http://</div>
                </div>
              </div>
              <input type="url" name="inputLink" #inputUrlSource="ngModel" [(ngModel)]="urlSource"
                placeholder="mysite.com"
                pattern="[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
                (paste)="pasteUrl($event.clipboardData.getData('text/plain'))" required>
              <button class="ui button" (click)="trashButton()"><i class="trash alternate icon"></i></button>
            </div>
            <div *ngIf="inputUrlSource.invalid && (inputUrlSource.dirty || inputUrlSource.touched)">
              <div *ngIf="inputUrlSource?.errors.required" class="ui pointing red basic label">
                Enlace requerido
              </div>
              <div *ngIf="inputUrlSource?.errors.pattern" class="ui pointing red basic label">
                Formato: mysite.com
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="actions">
      <button class="ui negative basic button">
        Descartar
      </button>
      <button id="next" class="ui positive right labeled icon button" [disabled]="formNewLink1.invalid"
        [class.loading]="isLoading">
        Guardar
        <i class="angle double right icon"></i>
      </button>
    </div>
  </div>
</div>

<!-- Second Modale -->
<div id="ContainerModal2">
  <div class="ui coupled second modal">
    <div class="header">
      Nuevo Enlace
      <i class="yellow certificate icon"></i>
    </div>
    <div class="content">
      <div class="description">
        <form class="ui form" #formNewLink2="ngForm" [class.loading]="isLoading">
          <div class="field">
            <label>Título</label>
            <input type="text" readonly="" placeholder="Una pequeña descripción..." name="inputTitle2" #inputTitle2="ngModel" [(ngModel)]="titulo" >
          </div>

          <div class="ui two column stackable grid">
            <div class="ten wide column">
              <div class="field">
                <label>Enlace</label>
                <div class="ui labeled input">
                  <div id="protocolo2" class="ui label">
                    {{ urlProtocol }}
                  </div>
                  <input type="url" readonly="" name="inputLink2" #inputUrlSource2="ngModel" [(ngModel)]="urlSource">
                </div>
              </div>
            </div>
            <div class="six wide column">
              <div class="field">
                <label>Link generado</label>
                <div class="ui action input">
                  <input id="shortLink" readonly="" type="text" name="inputShortLink" #inputShortLink="ngModel" [(ngModel)]="linkCorto">
                  <button class="ui teal right labeled icon button" (click)="copy()">
                    <i class="copy icon"></i>
                    Copy
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="actions">
      <button class="ui negative basic button" [style.display]="errorEnvio ? 'initial' : 'none'">
        Reintentar
      </button>
      <button class="ui positive right labeled icon button" [class.disabled]="isLoading">
        Aceptar
        <i class="checkmark icon"></i>
      </button>
    </div>
  </div>
</div>