#ContainerModal1, #ContainerModal2 {
    /* Corrección para centrar la ventana  */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}