<form class="ui form" #formulario="ngForm">
  <div class="field">
    <label>¿Quién eres?</label>
    <div class="two fields">
      <div class="field">
        <input type="text" placeholder="Nombre" name="inputNombre" #inputNombre="ngModel" [(ngModel)]="nombre" required>
        <!-- Validaciones del nombre -->
        <div *ngIf="inputNombre.invalid && (inputNombre.dirty || inputNombre.touched)">
          <div *ngIf="inputNombre?.errors.required" class="ui pointing red basic label">
            Nombre requerido
          </div>
        </div>
      </div>
      <div class="field">
        <input type="text" placeholder="Apellidos"  name="inputApellidos" #inputApellidos="ngModel"
        [(ngModel)]="apellidos" required>
        <!-- Validaciones de los apellidos -->
        <div *ngIf="inputApellidos.invalid && (inputApellidos.dirty || inputApellidos.touched)">
          <div *ngIf="inputApellidos?.errors.required" class="ui pointing red basic label">
            Apellidos requeridos
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <label>¿Cuál es tu correo?</label>
    <div class="field">
      <input type="email" placeholder="example@gmail.com" name="inputEmail" #inputEmail="ngModel" [(ngModel)]="email"
      (keyup)="errorEmail = false" required>
      <!-- Validaciones de los email -->
      <div *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)">
        <div *ngIf="inputEmail?.errors.required" class="ui pointing red basic label">
          Email requerido
        </div>
      </div>
      <div *ngIf="errorEmail" class="ui pointing red basic label">
        Email en uso
      </div>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Contraseña</label>
      <input type="{{showPassword ? 'text' : 'password'}}" placeholder="mi contraseña es..." name="inputPassword"
      #inputPassword="ngModel" [(ngModel)]="password" required minlength="6">
      <!-- Validaciones de los contraseña -->
      <div *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)">
        <div *ngIf="inputPassword?.errors.required" class="ui pointing red basic label">
          Contraseña requerida
        </div>
        <div *ngIf="inputPassword?.errors.minlength" class="ui pointing red basic label">
          Ha de contener 6 caracteres como mínimo
        </div>
      </div>
    </div>
    <div class="field">
      <label>Ver la contraseña</label>
      <div id="checkbox" class="ui toggle checkbox">
        <input type="checkbox" (change)="switchShowPassword()">
        <label></label>
      </div>
    </div>
  </div>
  <button class="ui button" [disabled]="formulario.invalid" [class.loading]="isloading" type="submit"
  (click)="signup(); uncknowError = null">¡Registrame!</button>
  <div *ngIf="uncknowError" class="ui left pointing red basic label" [ngStyle]="{'position': 'absolute'}">
    {{uncknowError}}
  </div>
</form>