<div id="MoreInfo">
  <div class="ui modal">
    <div class="header">
      <div class="header">
        Información
        <i class="yellow certificate icon"></i>
      </div>
    </div>
    <div class="scrolling content">
      <form class="ui form" #form="ngForm" [class.loading]="isLoading">
        <div class="field">
          <label>Título</label>
          <div class="ui action input">
            <input type="text" readonly="" placeholder="Una pequeña descripción..." name="inputTitle"
              #inputTitle="ngModel" [(ngModel)]="card.title">
            <button class="ui right labeled icon button" (click)="editar()">
              <i class="edit icon"></i>
              Editar
            </button>
          </div>
        </div>
        <div class="field">
          <label>Enlace</label>
          <div class="ui action input">
            <input type="text" readonly="" placeholder="Una pequeña descripción..." name="inputLink"
              #inputLink="ngModel" [(ngModel)]="card.link">
            <button class="ui right labeled icon button" (click)="editar()">
              <i class="edit icon"></i>
              Editar
            </button>
          </div>
        </div>
        <div class="field">
          <label>Link</label>
          <div class="ui action input">
            <input id="shortLink" readonly="" type="text" name="inputShortLink" #inputShortLink="ngModel"
              [(ngModel)]="card.shortLink">
            <button class="ui teal right labeled icon button" (click)="copiar()">
              <i class="copy icon"></i>
              Copiar
            </button>
          </div>
        </div>
      </form>
      <h4 class="ui horizontal divider header">
        <i class="bar chart icon"></i>
        Estadísticas
      </h4>
      <div class="ui stackable grid">
        <div class="row">
          <div class="four wide column">
            <a class="ui grey label">Dispositivos</a>
            <canvas id="pie1">{{ chart }}</canvas>
          </div>
          <div class="four wide column">
            <a class="ui blue label">Continentes</a>
            <canvas id="pie2">{{ chart }}</canvas>
          </div>
          <div class="four wide column">
            <a class="ui teal label">Paises</a>
            <canvas id="pie3">{{ chart }}</canvas>
          </div>
          <div class="four wide column">
            <a class="ui brown label">Regiones</a>
            <canvas id="pie4">{{ chart }}</canvas>
          </div>
        </div>
      </div>
      <h4 class="ui horizontal divider header">
        <i class="bar chart icon"></i>
        Acciones
      </h4>
      <div class="ui centered stackable grid">
        <div class="ui action input">
          <input type="text" value="Borrar enlace" readonly="">
          <div class="ui fade negative basic animated button" (click)="borrar()">
            <div class="visible content">Borrar</div>
            <div class="hidden content">
              <i class="trash alternate outline icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <button class="ui negative basic button" [style.display]="isModificated ? 'initial' : 'none'">
        Descartar
      </button>
      <div class="ui positive right labeled icon button">
        Aceptar
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
</div>