.four.wide.column img {
  cursor: pointer;
}

.description {
  margin: auto;
}

input[type="file"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
