<div id="ImagenModal" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Imagen de perfil
  </div>
  <div class="image content">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Subir Imagen
              <input type="file" (change)="uploadImage($event)" accept=".png, .jpg, .jpeg">
            </div>
          </div>
        </div>
      </div>
      <div class="ui grid">
        <div class="computer only row">
          <div class="ui medium centered rounded image">
            <img [src]="image">
          </div>
        </div>
        <div class="tablet mobile only row">
            <div class="ui small centered rounded image">
              <img [src]="image">
            </div>
          </div>
      </div>

    </div>
    <div class="description">
      <div class="ui header">Imágenes predefinidas que puedes seleccionar.
        <div class="sub header">O selecciona la imagen de la izquierda para subir otra.</div>
      </div>
      <br>
      <div class="ui grid">
        <div class="four wide column">
          <img id="avatar0" src="assets/images/boy.svg" alt="Chico" (click)="setDefaultAvatar(0)">
        </div>
        <div class="four wide column">
          <img id="avatar1" src="assets/images/dog.svg" alt="Perro" (click)="setDefaultAvatar(1)">

        </div>
        <div class="four wide column">
          <img id="avatar2" src="assets/images/girl.svg" alt="Chica" (click)="setDefaultAvatar(2)">
        </div>
        <div class="four wide column">
          <img id="avatar3" src="assets/images/cat.svg" alt="Gato" (click)="setDefaultAvatar(3)">
        </div>
      </div>
      <br>
      <div id="progressBar" style="opacity: 0" class="ui teal progress">
        <div class="bar">
          <div class="progress"></div>
        </div>
        <div class="label">Subiendo imagen</div>
      </div>
    </div>
  </div>
  <div class="actions"></div>
</div>